---
title: "Community Forge: Home"
layout: default
---

{% include index/hero.html %}
<section class="section">
  <div class="container">
    {% include common/social.html %}
    <br>
    <div class="columns">
      <div class="column is-9 is-offset-1 content">
        <h1 class="title">About</h1>
        <p>
          The founders of Community Forge are Mike, Jackie, Coop, Nick, Magdalene, Nathan, Justin, Ariel, and Micha. We are nine young adults with roots in Pittsburgh, including alumni from Carnegie Mellon and the University of Pittsburgh. Our backgrounds range widely from PhD Scientists to Educators to Extreme Sports athletes. At least one of us is always at the school, so if you’d like to say hello in person, come on by 1256 Franklin Avenue, Wilkinsburg, PA 15221.
        </p>
      </div>
    </div>
  </div>
</section>
