---
title: "Contact"
layout: default
tag: page-contact
---
<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child is-6 has-text-centered">
          <h1 class="title is-4">Where to find us</h1>
            <hr class="shorty">
            Visit us at <strong>1256 Franklin Ave, Wilkinsburg, PA 15221</strong>.<br> We have a parking lot located on the east side of the building. When you turn onto Franklin, make your first left to enter our lot.
        </div>
        <div class="tile is-child is-6 has-text-centered">
          <h1 class="title is-4">Our Hours</h1>
            <hr class="shorty">
            <strong>Building Hours</strong><br>
            Mon - Fri 8AM - 9PM; Sat - Sun 10AM - 5PM <br>
            <strong>Property Manager Office Hours</strong><br>
            Mon, Tue, Fri, Sat 12PM - 3PM;
            Wed, Thur 9AM - 12PM
        </div>
      </div>
    </div>
    {% include common/googlemap_embed.html %}
  </div>
  <div class="container">
    <div class="tile is-child has-text-centered">
      <h1 class="title is-4">Contact Us</h1>
        <hr class="shorty">
          <p> Questions and comments can be submitted through the form below or by emailing <strong>hello@forge.community</strong> and will be responded to as quickly as we can.
            If you have a more urgent matter, you can reach our property manager at <strong>(412) 501-2055</strong>.</p>
      {% include common/contact_form.html %}
    </div>
  </div>
</section>
<!-- TENANT REQUEST SECTION
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-4">Tenant Requests</h1>
    <hr class="shorty">
      If you rent from Community Forge and have an issue, request, or required maintenance, call us at <strong>(412) 501-2055</strong><br>
      or use the <strong><a>Community Forge Tenant Ticket Form</a></strong> we will get back to you ASAP.
  </div>
</section>
-->
