---
title: "Events"
layout: default
tag: page-events
---

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-4">Community Forge Hosted Events</h1>
    <p>
      Community Forge is proud to host a wide range of public events, many of which are free or reduced price for Wilkinsburg residents.  Our past events have included: Mac n’ Cheese cook-off, SunFest celebration of music and art, Toy Drive, community health documentaries, and much more.  Check out our listings below for upcoming events and programs.
    </p>
  </div>
</section>
{% include common/calendar_month.html %}
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title-head">Booking Your Event</h1>
    <p>
      We have been happy to host many different and wonderful events since opening in January 2018, but due to high demand are currently suspending all new external bookings until further notice.  We will continue to host public events that have been scheduled and from current resident organizations. 
    </p>
  </div>
</section>
{% comment %}
{% include common/booking_form.html %}
{% endcomment %}
