---
title: "Events"
layout: default
tag: page-events
---

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-4">Community Forge Hosted Events</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique sagittis purus non efficitur. Proin vitae est leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum posuere nisi ut congue fringilla. Sed sit amet ex augue. Curabitur dignissim a velit at pulvinar. Aliquam erat volutpat. Praesent augue mi, elementum sed accumsan rhoncus, accumsan vitae velit. Donec et pretium massa.
    </p>
  </div>
</section>
{% include upcomingevent_section.html %}
{% include common/calendar_month.html %}
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title-head">Booking Inquiries</h1>
  </div>
</section>
{% include common/booking_form.html %}
