---
title: "Community Forge: Home"
layout: default
---

{% include index/hero.html %}
<div class="box" style="margin: auto">
  <article class="media">
    <div class="content" style="margin: auto">
      <p class="has-text-centered">
        <strong>Free BBQ August 26th</strong>
        <br>
        Join us from 1PM-4PM on August 26th for a free community BBQ at the Johnston Elementary school!
      </p>
    </div>
  </article>
</div>
{% include index/introduction.html %}
{% include index/showcase.html %}

