---
title: "Community Forge: Home"
layout: default
---

{% include index/hero.html %}
<section id="press-release" class="section">
  <div class="container">
    {% include common/social.html %}
    <h1 class="title">Press</h1>
    <h3 class="subtitle">News and announcements for immediate release</h3>
    <hr>
    <div class="columns">
      <div class="column is-9 is-offset-1 content">
        {% for release in site.posts %}
          {% if release.category contains 'release' %}
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="{{ site.url }}/assets/pdf/{{ release.pdf }}">{{ release.title }}</a> - {{ release.date | date_to_string }}
                  </p>
                </div>
              </div>
            </article>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

