---
title: "Office and Event Rentals"
layout: default
tag: page-leasing
---


<section class="section">
  <div class="container">
    <h1 class="title-head has-text-centered">Office Rentals</h1>
    <p>
    <strong>We have room for more!</strong>  From full classrooms to coworking desks, we have a range of spaces that could support you and your organization.  Please contact us at hello@forge.community, via our <a href="{{ site.url }}/contact.html">contact form</a>, or by phone (412-501-2055) to schedule a tour and learn more. <a href="{{site.url}}/assets/pdf/CF-Pricing.2.pdf"><strong>Click here for pricing and more information!</strong></a>
    </p>
    <p>
    <a href="{{site.url}}/assets/pdf/CF-Pricing.2.pdf"><img src="{{site.url}}/assets/img/leasing_price_sheet.jpg"></a>

  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title-head">Event Rentals</h1>
      <p>
        Community Forge’s converted school rooms have been host to bookings big
        and small, from music festivals to workshops, community meetings to
        film screenings, conference calls to birthday parties. 
      </p><br>
      <p><strong>We have placed all outside bookings on a temporary hold.</strong> 
        Community Forge is now filled with over 30 local entrepreneurs, non-profits, 
        and businesses and we manage all of that energy with only a single staff member. 
        We are still a largely volunteer-run organization and are grappling with how to make 
        our business long-term sustainable. Once we are able to increase our staffing capacity, 
        we hope to re-open our events booking business to the public. </p><br>
      <p> We will continue to offer public events and programs. If your event request is a 
        public event that could provide an opportunity for Wilkinsburg residents, we might 
        reach back out to help and sponsor the request. If your event request targets a 
        particular population that one of our tenants serve, consider looking at our resident 
        directory as they may be interested in helping sponsor your event happening at Community Forge.</p>
    <!--
      <p>
      We would love to host your next event or hourly booking! Community Forge has a variety of spaces to meet your needs. Please contact us at hello@forge.community, via our <a href="{{ site.url }}/contact.html">contact form</a>, or by phone (<a href='tel:412-501-2055'>412-501-2055</a>) to schedule a tour and learn more. See below for pricing and more information.
      </p>

      <p>
        <img src='{{site.url}}/assets/img/events/booking.png'>
      </p> -->
  </div>
</section>


<script>
  function makeCarousel(selector) {
    let carousel = new Siema({
      selector: selector,
      perPage: 1,
      duration: 500,
      loop: true,
    });
    setInterval(() => carousel.next(), 8000);
  }
</script>
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title-head">Rooms</h1>

    {% assign spaces = site.spaces | sort:"order" %}
    {% for space in spaces %}
    {% unless space.hide %}
      <article class="media space-display">
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 0 %}
          {% assign spacedir = 'left' %}
        {% else %}
          {% assign spacedir = 'right' %}
        {% endif %}
        {% capture space_images %}
          {% if space.images %}
            <div class="space-carousel media-{{ spacedir }}" id='space-carousel-{{ forloop.index }}'>
              {% for image in space.images %}
                <a href="{{site.url}}/{{image}}">
                  <img src="{{site.url}}/{{image}}" class='image'>
                </a>
              {% endfor %}
            </div>
          {% endif %}
        {% endcapture %}
        {% if spacedir == 'left' %}
          {{ space_images }}
        {% endif %}
        <div class="media-content">
          <div class="content">
            <p>
            <strong>{{ space.name }}</strong>
            <br>
            {% if space.capacity %}
              capacity: 
              <small>
              {% for cap in space.capacity %}
                <i>{{ cap[0] }}:</i> {{ cap[1] }}
              {% endfor%}
              </small>
              <br>
            {% endif %}
            {{ space.content }}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              {% if space.event_example %}
                <a href="{{ space.event_example }}">
                  Event Examples
                </a>
              {% endif %}
              {% if space.event_example and space.space_layout %}
               &nbsp;&mdash;&nbsp; 
              {% endif %}
              {% if space.space_layout %}
                <a href="{{ site.url }}/{{ space.space_layout }}">
                  Space Layout
                </a>
              {% endif %}
            </div>
          </nav>
        </div>
        {% if spacedir == 'right' %}
          {{ space_images }}
        {% endif %}
      </article>
      <script>
        makeCarousel("#space-carousel-{{forloop.index}}");
      </script>

      {% if forloop.last == false %}
      <hr>
      {% endif %}

    {% endunless %}
    {% endfor %}
  </div>
</section>

{% comment %}
{% include common/booking_form.html %}
{% endcomment %}
