---
title: "Residents"
layout: default
tag: page-residents
---

<section class="section">
  <div class="container">
    <h1 class="title-head has-text-centered">Resident Organizations</h1>
    <p>
      Community Forge is shaped by the amazing organizations and individuals who have found their home here. Many of our residents offer unique programs and services ranging from afterschool science for youth to steelpan lessons to mobile blood testing.  Look below for more information on our residents and what they offer.
    </p><br>
    <div class="tile is-ancestor">
    {% for tenant in site.residents %}
    {% if tenant.type == 'organization' %}
      <div class="tile is-parent is-4 wraptile">
        <div class="tile is-child box resident">
          <img src={{site.url}}/{{tenant.img}} class="resident-image">
          <h1 class="title is-4 has-text-centered">{{ tenant.title }}</h1>
          {{ tenant.content }}
          {% if tenant.website %}
            <a class="button is-primary" href="{{ tenant.website }}" target="_blank">Website</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
    <hr>

    <h1 class="title-head has-text-centered">Coworking Residents</h1>

    <div class="tile is-ancestor">
    {% for tenant in site.residents %}
    {% if tenant.type == 'coworking' %}
      <div class="tile is-parent is-4 wraptile">
        <div class="tile is-child box resident">
          <img src={{site.url}}/{{tenant.img}} class="resident-image">
          <h1 class="title is-4 has-text-centered">{{ tenant.title }}</h1>
          {{ tenant.content }}
          {% if tenant.website %}
          <a class="button is-primary" href="{{ tenant.website }}">Website</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>

    <hr>

    <h1 class="title-head has-text-centered">Artists at Community Forge</h1>

    <div class="tile is-ancestor">

    {% for tenant in site.residents %}
    {% if tenant.type == 'artist' %}
      <div class="tile is-parent is-4">
        <div class="tile is-child box resident">
          <img src={{site.url}}/{{tenant.img}} class="resident-image">
          <h1 class="title is-4 has-text-centered">{{ tenant.title }}</h1>
          {{ tenant.content }}
          {% if tenant.website %}
          <a class="button is-primary" href="{{ tenant.website }}">Website</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>

  </div>
</section>
