<div id="footer-section" class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class='title-head is-medium'>Contact Us</h1>
        Community Forge<br>
        1256 Franklin Ave<br>
        Wilkinsburg, PA 15221<br>
        {% include common/social_links.html %}
      </div>
      <div class="column">
        <h1 class='title-head is-medium'>Join our Newsletter</h1>
      </div>
      <div class="column">
        <h1 class='title-head is-medium'>Upcoming Events</h1>
        <div id="calendar-list"></div>
      </div>
    </div>
  </div>
</div>
