<section id="getinvolved_section" class="section is-centered-form">
  <div class="container">
    <h1 class="title-head">Join in</h1>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child has-text-centered getinvolved-tile">
          <h1 class="title is-4">Come Out</h1>
          <p>
            Community Forge hosts events from youth performances to music festivals to community conversations.  Check out what’s coming to Wilkinsburg this week on our events calendar.
          </p>
          <a class="button is-primary" href="{{ site.url }}/events.html">Read More</a>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child has-text-centered getinvolved-tile">
          <h1 class="title is-4">Become a Resident</h1>
          <p>
            We have space available in our beautiful former classrooms. Make Community Forge the new home for your office, educational program, meeting, coworking desks, or studio. Contact us for a tour or to get more details.
          </p>
          <a class="button is-primary" href="{{ site.url }}/residents.html">Read More</a>
        </div>
      </div>
    </div>
<hr>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child getinvolved-tile">
      <h1 class="title is-4">Support Us</h1>
      <p>
        Running a community space takes a village to succeed. Join our crew and support our efforts to provide affordable space and programming in Wilkinsburg with your labor, donations, and love.
      </p>
      <a class="button is-primary" href="{{ site.url }}/support.html">Read More</a>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child getinvolved-tile">
      <h1 class="title is-4">Find Your Program</h1>
      <p>
        Looking for afterschool programs for your kids? Want to develop as an artist? Community Forge and our Resident Organizations host a wide range of programs and services for youth and adults.
      </p>
      <a class="button is-primary" href="{{ site.url }}/programs.html">Read More</a>
    </div>
  </div>
</div>





    </div>
  </div>
</section>
