<section id="getinvolved_section" class="section is-centered-form">
  <div class="container">
    <h1 class="title-head">Get Invloved</h1>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child has-text-centered getinvolved-tile">
          <h1 class="title is-4">Membership</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat aliquam tellus, a tincidunt velit. Nulla ligula erat, vestibulum nec nisi vel, malesuada vestibulum sapien. Vivamus facilisis arcu turpis, quis convallis arcu rutrum quis. Fusce ultricies, tellus et finibus tristique, arcu velit suscipit eros, sit amet egestas nunc arcu eu enim.
          </p>
          <a class="button is-primary">Read More</a>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child has-text-centered getinvolved-tile">
          <h1 class="title is-4">Lease Space</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat aliquam tellus, a tincidunt velit. Nulla ligula erat, vestibulum nec nisi vel, malesuada vestibulum sapien. Vivamus facilisis arcu turpis, quis convallis arcu rutrum quis. Fusce ultricies, tellus et finibus tristique, arcu velit suscipit eros, sit amet egestas nunc arcu eu enim.
          </p>
          <a class="button is-primary">Read More</a>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child has-text-centered getinvolved-tile">
          <h1 class="title is-4">Host an Event</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat aliquam tellus, a tincidunt velit. Nulla ligula erat, vestibulum nec nisi vel, malesuada vestibulum sapien. Vivamus facilisis arcu turpis, quis convallis arcu rutrum quis. Fusce ultricies, tellus et finibus tristique, arcu velit suscipit eros, sit amet egestas nunc arcu eu enim.
          </p>
          <a class="button is-primary">Read More</a>
        </div>
      </div>
    </div>
<hr>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child getinvolved-tile">
      <h1 class="title is-4">Volunteer</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat aliquam tellus, a tincidunt velit. Nulla ligula erat, vestibulum nec nisi vel, malesuada vestibulum sapien. Vivamus facilisis arcu turpis, quis convallis arcu rutrum quis. Fusce ultricies, tellus et finibus tristique, arcu velit suscipit eros, sit amet egestas nunc arcu eu enim.
      </p>
      <a class="button is-primary">Read More</a>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child getinvolved-tile">
      <h1 class="title is-4">Join A Committee</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat aliquam tellus, a tincidunt velit. Nulla ligula erat, vestibulum nec nisi vel, malesuada vestibulum sapien. Vivamus facilisis arcu turpis, quis convallis arcu rutrum quis. Fusce ultricies, tellus et finibus tristique, arcu velit suscipit eros, sit amet egestas nunc arcu eu enim.
      </p>
      <a class="button is-primary">Read More</a>
    </div>
  </div>
</div>





    </div>
  </div>
</section>
