{% include nav.html %}


  {% if page.layout == "home" %}
    <div class="header-parallax">
      <div id="header-home" class="header-bg"></div>
      <div class="header-content" style="padding: 150px 0;">
        <h1 class="title-head" style="align: center; color: #FBCE65; ">An inclusive Community Space dedicated to<br>creating opportunities for Wilkinsburg</h1>
      </div>
    </div>
<div class="special-announcement"> 
    <div class="announcement-content">
        <b>COVID-19 Update:</b> Community Forge is now open with new limitations in place due to COVID. Our hours are contracted to Mon-Fri 8AM-7PM, masks are required at all times inside the building, and guests can only enter by having a prior appointment with a staff or tenant. Feed the Hood is still operating a take-away food program which runs Mon-Fri 3PM-5PM out of the loading dock. We are providing free technical assistance to entrepreneurs in need of help applying for COVID relief funds (State, County, Federal, etc), please reach out to <u>hello@forge.community</u> if you or someone you know needs support.
    </div>
</div>
  {% elsif page.tag == "page-media"%}
    <div class="header-parallax">
      <div id="header-1" class="header-bg"></div>
      <div class="header-content" style="padding-top: 75px;">
        <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
      </div>
    </div>
  {% elsif page.tag == "page-events"%}
    <div class="header-parallax">
      <div id="header-8" class="header-bg"></div>
      <div class="header-content" style="padding-top: 75px;">
        <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
      </div>
    </div>
    {% elsif page.tag == "page-programs"%}
      <div class="header-parallax">
        <div id="header-2" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% elsif page.tag == "page-residents"%}
      <div class="header-parallax">
        <div id="header-3" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% elsif page.tag == "page-support"%}
      <div class="header-parallax">
        <div id="header-4" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% elsif page.tag == "page-contact"%}
      <div class="header-parallax">
        <div id="header-5" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% else %}
    <div class="header-parallax">
      <div id="header-1" class="header-bg"></div>
      <div class="header-content" style="padding-top: 75px;">
        <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
      </div>
    </div>
  {% endif %}
