{% include nav.html %}


  {% if page.layout == "home" %}
    <div class="header-parallax">
      <div id="header-home" class="header-bg"></div>
      <div class="header-content" style="padding: 150px 0;">
        <h1 class="title-head" style="align: center; color: #FBCE65; ">An inclusive Community Space dedicated to<br>creating opportunities for Wilkinsburg</h1>
      </div>
    </div>
<div class="special-announcement"> 
    <div class="announcement-content">
        <b>COVID-19 Update:</b> Due to the extended public health crisis being caused by COVID-19, Community Forge is currently closed. Through our partners, Opening Doors for Youth and Families and Confluence Catering, we will be serving free, take-away breakfast, lunch, and dinner to at-need families, which can be picked up at our loading dock near the playground from 9AM-1PM or 3-7PM. Currently both programs operate Monday-Friday, but return here for updates. We are also starting an emergency fund to support our entrepreneurs and families. If you are a Wilkinsburg community member, Community Forge program participant, or tenant struggling due to the COVID crisis, please write us at <u>hello@forge.community</u> to get an application. If you are considering donating to our fund, scroll down to donate below.
If you are looking for emergency business resources due to COVID-19, see <a href="https://www.riversidecenterforinnovation.com/covid-19-small-business-resources">this resource guide</a> kindly provided by our friends at Riverside Center for Innovation.
<br>     Please stay safe and healthy and we'll update this page once we re-open to the public.
    </div>
</div>
  {% elsif page.tag == "page-media"%}
    <div class="header-parallax">
      <div id="header-1" class="header-bg"></div>
      <div class="header-content" style="padding-top: 75px;">
        <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
      </div>
    </div>
  {% elsif page.tag == "page-events"%}
    <div class="header-parallax">
      <div id="header-8" class="header-bg"></div>
      <div class="header-content" style="padding-top: 75px;">
        <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
      </div>
    </div>
    {% elsif page.tag == "page-programs"%}
      <div class="header-parallax">
        <div id="header-2" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% elsif page.tag == "page-residents"%}
      <div class="header-parallax">
        <div id="header-3" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% elsif page.tag == "page-support"%}
      <div class="header-parallax">
        <div id="header-4" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% elsif page.tag == "page-contact"%}
      <div class="header-parallax">
        <div id="header-5" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% else %}
    <div class="header-parallax">
      <div id="header-1" class="header-bg"></div>
      <div class="header-content" style="padding-top: 75px;">
        <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
      </div>
    </div>
  {% endif %}
