{% include nav.html %}


  {% if page.layout == "home" %}
    <div class="header-parallax">
      <div id="header-home" class="header-bg"></div>
      <div class="header-content" style="padding: 150px 0;">
        <h1 class="title-head" style="align: center; color: #FBCE65; ">In inclusive community center in Wilkinsburg<br>dedicated to building an equitable economy for our region</h1>
      </div>
    </div>
<div class="special-announcement">
    <div class="announcement-content">
        <b>COVID-19 Update:</b> Community Forge will be moving back to our usual hours, Mon-Fri 8AM-9PM and Sat 10AM-5PM, starting June 7th. Masks are still required in all public spaces in the building. Outside booking requests are still on hold until COVID numbers come down. If you are a business owner in need of support rebounding from COVID, we have many opportunities at this time and would be happy to speak with you, simply email hello@forge.community to schedule a time.
    </div>
</div>
  {% elsif page.tag == "page-media"%}
    <div class="header-parallax">
      <div id="header-1" class="header-bg"></div>
      <div class="header-content" style="padding-top: 75px;">
        <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
      </div>
    </div>
  {% elsif page.tag == "page-events"%}
    <div class="header-parallax">
      <div id="header-8" class="header-bg"></div>
      <div class="header-content" style="padding-top: 75px;">
        <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
      </div>
    </div>
    {% elsif page.tag == "page-programs"%}
      <div class="header-parallax">
        <div id="header-2" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% elsif page.tag == "page-residents"%}
      <div class="header-parallax">
        <div id="header-3" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% elsif page.tag == "page-support"%}
      <div class="header-parallax">
        <div id="header-4" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% elsif page.tag == "page-contact"%}
      <div class="header-parallax">
        <div id="header-5" class="header-bg"></div>
        <div class="header-content" style="padding-top: 75px;">
          <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
        </div>
      </div>
    {% else %}
    <div class="header-parallax">
      <div id="header-1" class="header-bg"></div>
      <div class="header-content" style="padding-top: 75px;">
        <h1 class="title-head" style="align: center;">{{ page.title }}</h1>
      </div>
    </div>
  {% endif %}
