<nav class="navbar">
  <div class="navbar-brand">
    <div class="navbar-start">
      <a class="navbar-item is-active atlCruise" href="{{ site.url }}" style="font-size:3rem;">
        Community Forge
      </a>
    </div>
  </div>

  <div id="" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="#">
        About
      </a>
      <!-- this twitter handle is too long. we'll need to do something else -->
      <a class="navbar-item" href="#">
        Our Model
      </a>
      <a class="navbar-item" href="/contact">
        Contact
      </a>
    </div>
  </div>
</nav>
