<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.url }}">
      <!-- TODO: get a good png with meaningful transparency -->
      <img src="{{ site.url }}/assets/img/cforge.png" alt="" width="56" height="28">
    </a>
  </div>

  <div id="" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item is-active" href="{{ site.url }}">
        Community Forge
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="{{ site.social.facebook }}" test="https://www.facebook.com/Community-Forge-127388431195568" target="_blank">
        Facebook
      </a>
      <!-- this twitter handle is too long. we'll need to do something else -->
      <a class="navbar-item" href="{{ site.social.twitter }}" target="_blank">
        Twitter
      </a>
      <a class="navbar-item" href="{{ site.social.instagram }}" target="_blank">
        Instagram
      </a>
      <a class="navbar-item" href="{{ site.social.github }}" target="_blank">
        Github
      </a>
    </div>
  </div>
</nav>
