<section id="ourteam-section" class="section is-centered-form">
  <div class="container">
    <h1 class="title-head">Our Team</h1>
    <p>We are nine young adults with roots in Pittsburgh, including alumni from Carnegie Mellon and the University of Pittsburgh. Our backgrounds range widely from PhD Scientists to Educators to Extreme Sports athletes. At least one of us is always at the school, so if you’d like to say hello in person, come on by 1256 Franklin Avenue, Wilkinsburg, PA 15221</p>
    <div class="tile is-ancestor">
    {% for post in site.tags['team'] %}
    test
    <div class="tile is-parent is-4 wraptile">
      <div class="tile is-child ourteam-tile">
        <div class="image is-1by1 image-link is-rounded">
          <img class="is-rounded" src={{post.image}}>
          <div class="image-link-overlay">
            <h1 class="title is-4" style="color:#fff;">{{post.title}}</h1>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</section>
