<section id="reports-section" class="section is-centered-form">
  <div class="container">
    <h1 class="title-head" id='annualreports'>Annual Reports</h1>
    {% for report in site.tags['report'] limit:3 %}
      {% if report.pdf %}
        <a href="{{ site.url }}/assets/pdf/{{ report.pdf }}" target="_blank">
          <h1 class="title is-4" style="color:#fff;">
            <i class="fas fa-file"></i>
            {{ report.title }}
          </h1>
        </a>
      {% else %}
        <a href="{{ report.url }}">
          <h1 class="title is-4" style="color:#fff;">
            <i class="fas fa-file"></i>
            {{ report.title }}
          </h1>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>
