<section id="social-section" class='section is-centered-form'>
  <div class="container">
  <h1 class="title-head"> Social Media </h1>
  {% include common/social_links.html %}
        {% include common/instagram_embed.html %}
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child has-text-centered">
            {% include common/facebook_embed.html %}
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child has-text-centered">
            {% include common/twitter_embed.html %}
            </div>
          </div>
        </div>
  </div>
</section>
