<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Looking for a new office in Pittsburgh?</strong>
          <br>
          Affordable offices and coworking spaces in a community-friendly and convenient location are now available at the former Johnstown elementary school.
        </p>
      </div>
    </div>
  </article>
</div>
