
<!-- Siema Carousel Content -->
    <div class="volunteer-carousel">
      {% for image in site.volunteer_photos %}
          <div class="carousel-image-container">
            <a><img src="{{site.url}}{{image.image_path}}" alt="{{image.title}}" class="carousel-image"></a>
            <div class="carousel-image-overlay"><h1 class="title is-4">{{image.title}}</h1></div>
          </div>
      {% endfor %}
    </div>

    <script>
      const volunteers = new Siema({
        selector: '.volunteer-carousel',
        perPage: 3,
        duration: 500,
        loop: true,
      });
      setInterval(() => volunteers.next(), 3000);
    </script>
