.button.is-primary {
  margin-top:25px;
  background-color: #52696D;
}

.button.is-primary:hover {
  background-color: #5F8288;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.navbar-title {
    font-family: atlCruiseBold;
    font-size: 2em;
}

a.navbar-item {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
}
a.navbar-item:visited {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
}
a.navbar-item:hover {
  background-color: transparent;
  color: rgba(82, 105, 109, 1);
}

.navbarMenu {
  font-size: 3vmin;
  height: 3.5rem;

  border-bottom: #52696d 3px;
  border-bottom-style: solid;
  background-color: #f5f5f5;
}

.xmedia-icons {
    color: white;
}

.xsm-item {
    color: white;
}

.xsm-label {
    font-style: italic;
    font-family: Helvetica;
    font-size: 2rem;
    color: #FBCE65;
}

.xlanding-text {
    color: white;
    font-size: 1.5rem;
}

.container {
    max-width: 960px;
    z-index: 2;
}
.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: inherit;
}
.section {
    padding: 1.5rem 1.5rem;
}

.section.is-centered-form {
  background: #fff;
}

.icon {
  color: #AEC2C6;
}
.tile{
  flex-wrap: wrap;
}
