#introduction {
  background: #F5F5F5;
}

a {
  color: #6B1C15;
}
a:hover {
  color: #FBCE65;
}
a:visited {
  color: #FBCE65;
}

#anchor {
  max-height: 100%;
}

#landing-img {
  background-image: url("/assets/img/jstown.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  max-height: 90vh;
}

.is-centered-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 15px;
}

.social-media {
  text-align: center
}

.social-media a {
  background-color: transparent;
  color: rgba(82, 105, 109, 0.5);
}

.social-media a:visited {
  background-color: transparent;
  color: rgba(82, 105, 109, 1);
}

.social-media a:hover {
  background-color: transparent;
  color: rgba(82, 105, 109, 1);
}
