.fade {
    opacity: 0.25;
    filter: blur(2px);
}

#introduction {
  background: #F5F5F5;
}

p {
    text-align: justify;
    text-justify: auto;
}

a {
  color: rgba(82, 105, 109, 0.5);
}
a:visited {
  color: rgba(82, 105, 109, 0.5);
}
a:hover {
  color: rgba(82, 105, 109, 1);
}

#anchor {
  max-height: 100%;
}

#landing-img {
  background-image: url("/assets/img/jston-front.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 10vh;
  max-height: 30vh;
}

.is-centered-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.is-centered-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 15px;
}

.social-media {
  text-align: center
}

.align_center {
    text-align: center;
}

.social-media a {
  background-color: transparent;
  color: rgba(82, 105, 109, 0.5);
}

.social-media a:visited {
  background-color: transparent;
  color: rgba(82, 105, 109, 1);
}

.social-media a:hover {
  background-color: transparent;
  color: rgba(82, 105, 109, 1);
}

/* https://thomas.vanhoutte.be/miniblog/make-google-calendar-iframe-responsive */
.is-responsive-iframe {
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}

.is-responsive-iframe iframe {
    position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

.is-fullheight {
    height: 100%;
}

.main-content {
    max-width: 75%;
    margin: auto;
    display: block;
    padding-top: 50px;
}

.bright-link a{
    color:
}

.bright-link a:hover {
  color: #fbce65;
  opacity: 0.5;
}
