.fade {
    opacity: 0.25;
    filter: blur(2px);
}

.cfcontent {
    max-width: 75%;
    margin: auto;
    display: block;
    padding-top: 50px;
}

#introduction {
  background: #F5F5F5;
}

p {
    text-align: justify;
    text-justify: auto;
}

a {
  color: rgba(82, 105, 109, 0.5);
}
a:visited {
  color: rgba(82, 105, 109, 0.5);
}
a:hover {
  color: rgba(82, 105, 109, 1);
}

#anchor {
  max-height: 100%;
}

#landing-img {
  background-image: url("/assets/img/jston-front.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 10vh;
  max-height: 30vh;
}

.is-centered-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 15px;
}

.social-media {
  text-align: center
}

.align_center {
    text-align: center;
}

.social-media a {
  background-color: transparent;
  color: rgba(82, 105, 109, 0.5);
}

.social-media a:visited {
  background-color: transparent;
  color: rgba(82, 105, 109, 1);
}

.social-media a:hover {
  background-color: transparent;
  color: rgba(82, 105, 109, 1);
}
