<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="/assets/img/school-logo-04.png" alt="Image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4 has-text-centered">Programs</p>
      </div>
    </div>

    <div class="content">
      We are working with local non-profits such as Pittsburgh Learning Commons to offer a mixture of free and paid educational programs. Our outdoor space will be renovated into a public park and playground. Indoors, we are interested hosting community organizations for meetings and gatherings.
      <br>
    </div>
  </div>
</div>
