<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="/assets/img/factory-logo-05.png" alt="Image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4 has-text-centered">Leasing</p>
      </div>
    </div>

    <div class="content">
      We have commercial leasing available for offices, restaurants, and service organizations. Don't need a full office? We also have coworking desks available. Are you an artist or creator? Rent some of our studio and workshop space. All our leasing is very affordable and we'd love to have you in our community. Contact us at <a>communications@forge.community</a>
      <br>
    </div>
  </div>
</div>
