<div class='is-responsive-iframe'>
    <iframe src="https://calendar.google.com/calendar/b/2/embed?showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=forge.community_il4p4ucqrfbjlges27ri00h618%40group.calendar.google.com&amp;color=%23691426&amp;src=forge.community_js7j0pkhaki3pptclvgqv18aj8%40group.calendar.google.com&amp;color=%235229A3&amp;src=forge.community_6h9bf8o8gdqhfjb2ehhf3toh68%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
