<nav class="navbar">
  <div class="navbar-brand">
    <div class="navbar-start">
      <a id="anchor" class="navbar-item" href="{{ site.url }}" style="font-size:3rem;">
        <!--img src="{{ site.url }}/assets/img/cflogo-300x175.png" style="height: 3rem; max-height: 3rem"-->
        Community Forge
      </a>
    </div>
    <div class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="{{ site.url }}/press" target="_blank">
        press
      </a>
      <!-- <a class="navbar-item" href="{{ site.url }}/events" target="_blank">
        events
      </a> -->
      <a class="navbar-item" href="{{ site.url }}/about" target="_blank">
        about
      </a>
      <a class="navbar-item" href="{{ site.url }}/contact" target="_blank">
        contact
      </a>
    </div>
  </div>
</nav>
