<nav class="navbar">
  <div class="navbar-brand">
    <div class="navbar-start">
      <a id="anchor" class="navbar-item" href="{{ site.url }}" style="font-size:3rem;">
        Community Forge
      </a>
    </div>
    <div class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="{{ site.social.facebook }}" target="_blank">
      <span class="icon is-large">
        <i class="fa fa-facebook"></i>
      </span>
      </a>
      <a class="navbar-item" href="{{ site.social.twitter }}" target="_blank">
        <span class="icon is-large">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
      <a class="navbar-item" href="{{ site.social.instagram }}" target="_blank">
        <span class="icon is-large">
          <i class="fa fa-instagram"></i>
        </span>
      </a>
      <a class="navbar-item" href="{{ site.social.github }}" target="_blank">
        <span class="icon is-large">
          <i class="fa fa-github"></i>
        </span>
      </a>
     </div>
    </div>
  </div>
</nav>
