<section class="social-media">
  <div class="">
    <a class="" href="{{ site.social.facebook }}" target="_blank">
    <span class="icon ">
      <i class="fa fa-facebook"></i>
    </span>
    </a>
    <a class="" href="{{ site.social.twitter }}" target="_blank">
      <span class="icon ">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
    <a class="" href="{{ site.social.instagram }}" target="_blank">
      <span class="icon ">
        <i class="fa fa-instagram"></i>
      </span>
    </a>
    <a class="" href="{{ site.social.github }}" target="_blank">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
  </div>
</section>
