<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <h4>Volunteering and Community</h4>
        <p>
          Restoring Johnston Elementary for public benefit is a big project and we can't do it alone. We've got gardens to plant and concrete to pour; you've got pick up basketball games to play and political meetings to organize so if you're interested in volunteering with us or in using the space <span><a href="{{ site.url }}/contact">drop us a line</a></span>.
        </p>
      </div>
    </div>
  </article>
</div>
