<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <h4>Volunteering and Community</h4>
        <p>
          Restoring Johnston Elementary for public benefit is a big project, and we can't do it alone.  We want to hear your opinions, and we would love to have your help.  If you are interested in volunteering with us – please <span><a href="{{ site.url }}/contact">drop us a line</a></span>.
        </p>
      </div>
    </div>
  </article>
</div>
