<!-- <section class="has-background-danger">
    <div class="container has-text-centered has-text-white">
        <emph>COVID-19 Update:</emph> Due to the extended public health crisis being caused by COVID-19, Community Forge is currently closed. Through our partners, Opening Doors for Youth and Families and Confluence Catering, we will be serving to-go breakfast, lunch, and dinner, which can be picked up our loading dock near the playground from 9AM-1PM or 3-7PM. We are also starting an emergency fund to support our entrepreneurs and families. If you are community member or small business owner struggling, please write us at hello@forge.community to get an application for the emergency fund. If you are considering donating to our fund, scroll down to donate below.

        Please stay safe and healthy and we'll update this page once we're are re-open to the public.
    </div>
</section> -->
<section id="landing-img" class="hero is-large">
  <div class="hero-body">
  </div>
</section>
{% include common/social.html %}
