{% if site.tags['press'] %}
<section class='section'>
  <h1 class='title'>Press</h1>
  <div class='columns is-multiline is-desktop'>
      {% for post in site.tags['press'] %}
        <div class='column'>
         <div class="box is-fullheight">
           <article class="media">
             <div class="media-content">
               <div class="content">
                <h4>
                  {% if post.pdf %}
                      <a href="{{ site.url }}/assets/pdf/{{ post.pdf }}">{{ post.title }}</a>
                  {% else %}
                      <a href="{{post.url}}">{{ post.title }}</a>
                  {% endif %}
                </h4>
                <p>
                {% if post.content %}
                  {{ post.content | strip_html | truncatewords:24 }}
                  <br>
                {% endif %}
                <time datetime="{{ post.date}}">{{ post.date | date_to_string }}</time>
                </p>
               </div>
             </div>
           </article>
         </div>
        </div>
      {% endfor %}
  </div>
</section>
{% endif %}

