<section id="offerings" class="section is-primary">
    <div class="columns">
    <div class="column">{% include offerings/classes.html %}</div>
    <div class="column">{% include offerings/coworking.html %}</div>
    <div class="column">{% include offerings/events.html %}</div>
  </div>
    <div class="columns">
        <div class="column is-5 is-offset-1 has-text-centered">
            <figure class="image">
                <img src="/assets/img/cforge.png">
            </figure>
        </div>
        <div class="column is-5 content has-text-centered">
            <h2>About Us</h2>
            <p>We are transforming the former Johnston Elementary School into a community hub for events, </p>
        </div>
    </div>  
</section>
