<section id="showcase" class="section is-primary container">
    <figure>
      <img class="is-centered-img" src="{{ site.url }}/assets/img/cflogo-big.png"/>
    </figure>
    <div class="columns">
      <div class="column">{% include showcases/mission.html %}</div>
      <div class="column">{% include showcases/leasing.html %}</div>
    </div>
    <div class="columns">
      <div class="column">{% include showcases/volunteering.html %}</div>
      <div class="column">{% include showcases/programs.html %}</div>
    </div>
</section>
